<app-header></app-header>

<app-sidebar></app-sidebar>



<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">Datatables</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Datatables</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <!-- end row-->


            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">

                            <h4 class="header-title">Users-List</h4>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="fullname">Search</label>&nbsp;
                                    <input class="form-control" type="search" placeholder="Search.."
                                        [(ngModel)]="searchTerm">
                                    <!-- <span><i class="fa fa-search"></i></span> -->

                                </div>
                                <div class="form-group d-block ml-auto">
                                    <button type="button"
                                        class="btn btn-success waves-effect waves-light "
                                        data-toggle="modal" data-target="#con-close-modal">+Add User</button>
                                </div>
                            </div>


                            <br>
                            <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Name</th>
                                        <th>Delivery Time</th>
                                        <th>isActive</th>
                                        <th>Rating</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Stock</th>
                                        <th>UserName</th>
                                        <th>User Address</th>
                                    </tr>
                                </thead>


                                <tbody>
                                  <tr *ngFor="let product of products | filter:searchTerm ; let i=index">

                                    <td>{{product.categoryName}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.deliveryTime}}</td>
                                    <td>{{product.isActive}}</td>
                                    <td>{{product.rating}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>{{product.status}}</td>
                                    <td>{{product.stock}}</td>
                                    <td>{{product.userName}}</td>
                                    <td>{{product.userAddress}}</td>

                                  </tr>
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->





        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2015 - 2018 &copy; UBold theme by <a href="">Coderthemes</a>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->



<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Content is Responsive</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">


                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        <form action="#">

                            <h1 class="text-center">Add-User Form</h1>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="p-sm-3">
                                        <div class="form-group mb-3">
                                            <label for="fullname">Full Name</label>
                                            <input class="form-control" type="text" id="fullname"
                                                placeholder="Enter your name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="emailaddress2">Email address</label>
                                            <input class="form-control" type="email" id="emailaddress2" required
                                                placeholder="Enter your email">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="password2">Password</label>
                                            <input class="form-control" type="password" required id="password2"
                                                placeholder="Enter your password">
                                        </div>

                                        <div class="custom-control custom-checkbox pt-1">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                            <label class="custom-control-label" for="checkbox-signup">I accept <a
                                                    href="javascript: void(0);" class="text-dark">Terms and
                                                    Conditions</a></label>
                                        </div>


                                    </div>
                                </div> <!-- end col -->

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="p-sm-3">

                                        <div class="form-group mb-3">
                                            <label for="fullname">Full Name</label>
                                            <input class="form-control" type="text" id="fullname"
                                                placeholder="Enter your name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="emailaddress2">Email address</label>
                                            <input class="form-control" type="email" id="emailaddress2" required
                                                placeholder="Enter your email">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="password2">Password</label>
                                            <input class="form-control" type="password" required id="password2"
                                                placeholder="Enter your password">
                                        </div>
                                        <div class="form-group form-inline mb-0">

                                            <button class="btn btn-success btn-sm float-sm-right text-center"
                                                type="submit"> Add User </button>

                                        </div>

                                    </div>

                                </div> <!-- end col -->
                            </div>
                            <!-- end row-->

                        </form>
                    </div> <!-- end card-body -->
                </div>

                <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="field-1" class="control-label">Name</label>
                                        <input type="text" class="form-control" id="field-1" placeholder="John">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="field-2" class="control-label">Surname</label>
                                        <input type="text" class="form-control" id="field-2" placeholder="Doe">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="field-3" class="control-label">Address</label>
                                        <input type="text" class="form-control" id="field-3" placeholder="Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="field-4" class="control-label">City</label>
                                        <input type="text" class="form-control" id="field-4" placeholder="Boston">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="field-5" class="control-label">Country</label>
                                        <input type="text" class="form-control" id="field-5" placeholder="United States">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="field-6" class="control-label">Zip</label>
                                        <input type="text" class="form-control" id="field-6" placeholder="123456">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group no-margin">
                                        <label for="field-7" class="control-label">Personal Info</label>
                                        <textarea class="form-control" id="field-7" placeholder="Write something about yourself"></textarea>
                                    </div>
                                </div>
                            </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect waves-light">Save changes</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->