<app-header></app-header>

<app-sidebar></app-sidebar>



<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">UBold</li>
                            </ol>
                        </div>
                        <h4 class="page-title">UBold</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <!-- end row-->


            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">

                            <h4 class="header-title">Product-List</h4>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="fullname">Search</label>&nbsp;
                                    <input class="form-control" type="search" placeholder="Search.."
                                        [(ngModel)]="searchTerm">
                                    <!-- <span><i class="fa fa-search"></i></span> -->

                                </div>
                                <div class="form-group d-block ml-auto">
                                    <button type="button" class="btn btn-success waves-effect waves-light "
                                        data-toggle="modal" data-target="#con-close-modal">+Add Product</button>
                                </div>
                            </div>


                            <br>
                            <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Name</th>
                                        <th>Delivery Time</th>
                                        <th>Delivery Option</th>
                                        <th>isActive</th>
                                        <th>Rating</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Stock</th>
                                        <th>UserName</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr
                                        *ngFor="let product of products | paginate: config | filter:searchTerm; let i=index">

                                        <td>{{product.categoryName}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.deliveryTime}}</td>
                                        <td>{{product.deliveryOption}}</td>
                                        <td>{{product.isActive}}</td>
                                        <td>{{product.rating}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.status}}</td>
                                        <td>{{product.stock}}</td>
                                        <td>{{product.userName}}</td>
                                        <td>
                                            <img src="{{product.imagePath}}" height="50px" width="50px" alt="">
                                        </td>
                                        <td>


                                            <a (click)="editProduct(product)">
                                                <i class="far fa-edit"></i>
                                            </a> &nbsp;

                                            <a (click)="getProductId(product.id)" data-toggle="modal"
                                                data-target="#deleteModal">
                                                <i class="fas fa-trash"></i>
                                            </a>


                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>


                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->





        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2015 - 2018 &copy; UBold theme by <a href="">Coderthemes</a>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<!-- delete Modal HTML -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <!-- <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <div class="d-block ml-auto">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            </div> -->
            <div class="modal-header">
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body">
                <p>This is a custom field that you are going to delete. Be sure this is what you want to do. Once you
                    delete this custom field, this data will be gone forever. We CANNOT RESTORE this data.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)=" deleteProduct()">Yes, delete
                    it!</button>
            </div>
        </div>
    </div>
</div>

<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Content is Responsive</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">


                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        <!-- <button class="btn btn-primary" routerLink="/product-list">back to home</button> -->
                        <form [formGroup]="productForm">

                            <h1 class="text-center">Add-Product Form</h1>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="p-sm-3">
                                        <div class="form-group">
                                            <label for="inputAddress">Category Name </label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="categoryName" placeholder="Enter categoryName">
                                            <div
                                                *ngIf="(productForm.get('categoryName')?.invalid && productForm.get('categoryName')?.touched) || productForm.get('categoryName')?.dirty">
                                                <small *ngIf="productForm.get('categoryName')?.errors?.required"
                                                    class="text-danger">
                                                    Category Name
                                                    is required</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Description</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="description" placeholder="Enter description">
                                            <div
                                                *ngIf="(productForm.get('description')?.invalid && productForm.get('description')?.touched) || productForm.get('description')?.dirty">
                                                <small *ngIf="productForm.get('description')?.errors?.required"
                                                    class="text-danger">description
                                                    is required</small>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="inputAddress">ending Date</label>
                                            <input type="date" class="form-control" id="inputAddress"
                                                formControlName="endingDate" placeholder="Enter ending Date">
                                            <div
                                                *ngIf="(productForm.get('endingDate')?.invalid && productForm.get('endingDate')?.touched) || productForm.get('endingDate')?.dirty">
                                                <small *ngIf="productForm.get('endingDate')?.errors?.required"
                                                    class="text-danger">endingDate
                                                    is required</small>
                                            </div>
                                        </div> -->

                                        <div class="form-group">
                                            <label>Ending Date</label>
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <input type="text" class="form-control bg-white" [min]="todayDate"
                                                placeholder="Enter here" formControlName="endingDate"
                                                [matDatepicker]="picker">
                                            <div
                                                *ngIf="(productForm.get('endingDate')?.invalid && productForm.get('endingDate')?.touched) || productForm.get('endingDate')?.dirty">
                                                <small *ngIf="productForm.get('endingDate')?.errors?.required"
                                                    class="text-danger">endingDate
                                                    is required</small>
                                            </div>
                                        </div>

                                        <!-- <div class="input-group form-group">
                                            <input matInput [min]="minDate"
                                                class="form-control"
                                                (dateChange)="addEvent($event)"
                                                placeholder="Select Date"
                                                formControlName="endingDate"
                                                [matDatepicker]="picker">
                                            <mat-datepicker-toggle matSuffix
                                                [for]="picker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker>
                                            </mat-datepicker>
                                        </div> -->

                                        <div class="form-group">
                                            <label for="inputAddress">Delivery Option</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="deliveryOption" placeholder="Enter delivery option">
                                            <div
                                                *ngIf="(productForm.get('deliveryOption')?.invalid && productForm.get('deliveryOption')?.touched) || productForm.get('deliveryOption')?.dirty">
                                                <small *ngIf="productForm.get('deliveryOption')?.errors?.required"
                                                    class="text-danger">Delivery Option
                                                    is required</small>
                                            </div>
                                        </div>


                                    </div>
                                </div> <!-- end col -->

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="p-sm-3">

                                        <div class="form-group">
                                            <label for="inputAddress">Rating</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="rating" placeholder="Enter rating">
                                            <div
                                                *ngIf="(productForm.get('rating')?.invalid && productForm.get('rating')?.touched) || productForm.get('rating')?.dirty">
                                                <small *ngIf="productForm.get('rating')?.errors?.required"
                                                    class="text-danger">Rating
                                                    is required</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Name</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="name" placeholder="Enter name">
                                            <div
                                                *ngIf="(productForm.get('name')?.invalid && productForm.get('name')?.touched) || productForm.get('name')?.dirty">
                                                <small *ngIf="productForm.get('name')?.errors?.required"
                                                    class="text-danger">Name
                                                    is required</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Price</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="price" placeholder="Enter price">
                                            <div
                                                *ngIf="(productForm.get('price')?.invalid && productForm.get('price')?.touched) || productForm.get('price')?.dirty">
                                                <small *ngIf="productForm.get('price')?.errors?.required"
                                                    class="text-danger">Price
                                                    is required</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Quantity</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                formControlName="quantity" placeholder="Enter quantity">
                                            <div
                                                *ngIf="(productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched) || productForm.get('quantity')?.dirty">
                                                <small *ngIf="productForm.get('quantity')?.errors?.required"
                                                    class="text-danger">quantity
                                                    is required</small>
                                            </div>
                                        </div>

                                    </div>

                                </div> <!-- end col -->

                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success" [disabled]="productForm.invalid" (click)="saveProduct(productForm.value)"
                                        class="btn btn-success btn-round waves-effect waves-light m-1">Add
                                            Product</button>
                                    </div>
                                </div> -->
                            </div>
                            <!-- end row-->

                        </form>
                    </div> <!-- end card-body -->
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success waves-effect waves-light" [disabled]="productForm.invalid"
                    (click)="saveProduct(productForm.value)">Save changes</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->