<app-header></app-header>

<app-sidebar></app-sidebar>


<!-- preloader -->
<div *ngIf="isLoading">
    <div class="corporex-preloader">
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div><!-- .spinner-wrapper -->
    </div> <!-- .corporex-preloader -->
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="mt-5 ml-0 mr-0 col-lg-10 col-md-10 col-sm-10">

        <div class="card bg-pattern">

            <div class="card-body p-4">
                <button class="btn btn-primary" routerLink="/product-list">back to home</button>
                <form [formGroup]="productForm">

                    <h1 class="text-center">Add-Product Form</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="p-sm-3">
                                <div class="form-group">
                                    <label for="inputAddress">Category Name </label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="categoryName" placeholder="Enter categoryName">
                                    <div
                                        *ngIf="(productForm.get('categoryName')?.invalid && productForm.get('categoryName')?.touched) || productForm.get('categoryName')?.dirty">
                                        <small *ngIf="productForm.get('categoryName')?.errors?.required"
                                            class="text-danger">
                                            Category Name
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Description</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="description" placeholder="Enter description">
                                    <div
                                        *ngIf="(productForm.get('description')?.invalid && productForm.get('description')?.touched) || productForm.get('description')?.dirty">
                                        <small *ngIf="productForm.get('description')?.errors?.required"
                                            class="text-danger">description
                                            is required</small>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="inputAddress">ending Date</label>
                                    <input type="date" class="form-control" id="inputAddress"
                                        formControlName="endingDate" placeholder="Enter ending Date">
                                    <div
                                        *ngIf="(productForm.get('endingDate')?.invalid && productForm.get('endingDate')?.touched) || productForm.get('endingDate')?.dirty">
                                        <small *ngIf="productForm.get('endingDate')?.errors?.required"
                                            class="text-danger">endingDate
                                            is required</small>
                                    </div>
                                </div> -->

                                 <div class="form-group">
                                    <label>Ending Date</label>
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <input type="text" class="form-control bg-white" [min]="todayDate"
                                        placeholder="Enter here" formControlName="endingDate"
                                        [matDatepicker]="picker" >
                                        <div
                                        *ngIf="(productForm.get('endingDate')?.invalid && productForm.get('endingDate')?.touched) || productForm.get('endingDate')?.dirty">
                                        <small *ngIf="productForm.get('endingDate')?.errors?.required"
                                            class="text-danger">endingDate
                                            is required</small>
                                    </div>
                                </div>

                                <!-- <div class="input-group form-group">
                                    <input matInput [min]="minDate"
                                        class="form-control"
                                        (dateChange)="addEvent($event)"
                                        placeholder="Select Date"
                                        formControlName="endingDate"
                                        [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix
                                        [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker>
                                    </mat-datepicker>
                                </div> -->

                                <div class="form-group">
                                    <label for="inputAddress">Delivery Option</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="deliveryOption" placeholder="Enter delivery option">
                                    <div
                                        *ngIf="(productForm.get('deliveryOption')?.invalid && productForm.get('deliveryOption')?.touched) || productForm.get('deliveryOption')?.dirty">
                                        <small *ngIf="productForm.get('deliveryOption')?.errors?.required"
                                            class="text-danger">Delivery Option
                                            is required</small>
                                    </div>
                                </div>


                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="p-sm-3">

                                <div class="form-group">
                                    <label for="inputAddress">Rating</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="rating"
                                        placeholder="Enter rating">
                                    <div
                                        *ngIf="(productForm.get('rating')?.invalid && productForm.get('rating')?.touched) || productForm.get('rating')?.dirty">
                                        <small *ngIf="productForm.get('rating')?.errors?.required"
                                            class="text-danger">Rating
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Name</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="name"
                                        placeholder="Enter name">
                                    <div
                                        *ngIf="(productForm.get('name')?.invalid && productForm.get('name')?.touched) || productForm.get('name')?.dirty">
                                        <small *ngIf="productForm.get('name')?.errors?.required"
                                            class="text-danger">Name
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Price</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="price"
                                        placeholder="Enter price">
                                    <div
                                        *ngIf="(productForm.get('price')?.invalid && productForm.get('price')?.touched) || productForm.get('price')?.dirty">
                                        <small *ngIf="productForm.get('price')?.errors?.required"
                                            class="text-danger">Price
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Quantity</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="quantity"
                                        placeholder="Enter quantity">
                                    <div
                                        *ngIf="(productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched) || productForm.get('quantity')?.dirty">
                                        <small *ngIf="productForm.get('quantity')?.errors?.required"
                                            class="text-danger">quantity
                                            is required</small>
                                    </div>
                                </div>

                            </div>

                        </div> <!-- end col -->

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-success" [disabled]="productForm.invalid" (click)="saveProduct(productForm.value)"
                                class="btn btn-outline-success btn-round waves-effect waves-light m-1">Add
                                    Product</button>
                            </div>
                        </div>
                    </div>
                    <!-- end row-->
    
                </form>
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->


        <!-- end container -->
    </div>
</div>