<app-header></app-header>

<app-sidebar></app-sidebar>


<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="mt-5 ml-0 mr-0 col-lg-10 col-md-10 col-sm-10">

        <div class="card bg-pattern">

            <div class="card-body p-4">
                <button class="btn btn-primary" routerLink="/dashboard1">back to home</button>
                <form action="#" [formGroup]="productForm">

                    <h1 class="text-center">Add-Product Form</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="p-sm-3">
                                <div class="form-group">
                                    <label for="inputAddress">Category Name </label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="categoryName"
                                        placeholder="Enter categoryName">
                                    <div
                                        *ngIf="(productForm.get('categoryName')?.invalid && productForm.get('categoryName')?.touched) || productForm.get('categoryName')?.dirty">
                                        <small *ngIf="productForm.get('categoryName')?.errors?.required" class="text-danger">
                                            Category Name
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Description</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="description" placeholder="Enter description">
                                    <div
                                        *ngIf="(productForm.get('description')?.invalid && productForm.get('description')?.touched) || productForm.get('description')?.dirty">
                                        <small *ngIf="productForm.get('description')?.errors?.required"
                                            class="text-danger">description
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">endingDate</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="endingDate" placeholder="Enter ending Date">
                                    <div
                                        *ngIf="(productForm.get('endingDate')?.invalid && productForm.get('endingDate')?.touched) || productForm.get('endingDate')?.dirty">
                                        <small *ngIf="productForm.get('endingDate')?.errors?.required"
                                            class="text-danger">endingDate
                                            is required</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputAddress">Delivery Option</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="deliveryOption"
                                        placeholder="Enter delivery option">
                                    <div
                                        *ngIf="(productForm.get('deliveryOption')?.invalid && productForm.get('deliveryOption')?.touched) || productForm.get('deliveryOption')?.dirty">
                                        <small *ngIf="productForm.get('deliveryOption')?.errors?.required"
                                            class="text-danger">Delivery Option
                                            is required</small>
                                    </div>
                                </div>


                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="p-sm-3">

                                <div class="form-group">
                                    <label for="inputAddress">Rating</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="rating"
                                        placeholder="Enter rating">
                                    <div
                                        *ngIf="(productForm.get('rating')?.invalid && productForm.get('rating')?.touched) || productForm.get('rating')?.dirty">
                                        <small *ngIf="productForm.get('rating')?.errors?.required"
                                            class="text-danger">Rating
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Name</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="name"
                                        placeholder="Enter name">
                                    <div
                                        *ngIf="(productForm.get('name')?.invalid && productForm.get('name')?.touched) || productForm.get('name')?.dirty">
                                        <small *ngIf="productForm.get('name')?.errors?.required" class="text-danger">Name
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Price</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="price" placeholder="Enter price">
                                    <div
                                        *ngIf="(productForm.get('price')?.invalid && productForm.get('price')?.touched) || productForm.get('price')?.dirty">
                                        <small *ngIf="productForm.get('price')?.errors?.required"
                                            class="text-danger">Price
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Quantity</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="quantity"
                                        placeholder="Enter quantity">
                                    <div
                                        *ngIf="(productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched) || productForm.get('quantity')?.dirty">
                                        <small *ngIf="productForm.get('quantity')?.errors?.required"
                                            class="text-danger">quantity
                                            is required</small>
                                    </div>
                                </div>

                            </div>

                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->



                    <div class="text-center">
                        <button type="submit" class="btn btn-success" [disabled]="productForm.invalid">Add Product</button>
                    </div>
                </form>
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->


        <!-- end container -->
    </div>
</div>