<app-header></app-header>

<app-sidebar></app-sidebar>

<div class="row mt-5">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">

        <div class="card bg-pattern">

            <div class="card-body">

                <button routerLink="/category-list" class="btn btn-primary">back to home</button>


                <form [formGroup]="categoryForm">
                    <h1 class="text-center">Add-Category Form</h1>
                    <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="inputAddress">Name</label>
                        <input type="text" class="form-control" id="inputAddress" formControlName="name"
                            placeholder="Enter category name">
                        <div
                            *ngIf="(categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched) || categoryForm.get('name')?.dirty">
                            <small *ngIf="categoryForm.get('name')?.errors?.required" class="text-danger">Category name
                                is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Parent Id</label>
                        <input type="text" class="form-control" id="inputAddress" formControlName="parentId"
                            placeholder="Enter category name">
                        <div
                            *ngIf="(categoryForm.get('parentId')?.invalid && categoryForm.get('parentId')?.touched) || categoryForm.get('parentId')?.dirty">
                            <small *ngIf="categoryForm.get('parentId')?.errors?.required" class="text-danger">Parend Id
                                is required</small>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div> -->
                    <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" [disabled]="categoryForm.invalid"
                            (click)="saveCategory(categoryForm.value)">Add Category</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>

</div>