<app-header></app-header>

<app-sidebar></app-sidebar>


<!-- preloader -->
<div *ngIf="isLoading">
    <div class="corporex-preloader">
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div><!-- .spinner-wrapper -->
    </div> <!-- .corporex-preloader -->
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="mt-5 ml-0 mr-0 col-lg-10 col-md-10 col-sm-10">

        <div class="card bg-pattern">

            <div class="card-body p-4">
                <button class="btn btn-primary" routerLink="/order-list">back to home</button>
                 <form action="#" [formGroup]="orderForm">

                    <h1 class="text-center">Add-Product Form</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="p-sm-3">
                                <div class="form-group">
                                    <label for="inputAddress">Chef Name </label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="chefName" placeholder="Enter chefName">
                                    <div
                                        *ngIf="(orderForm.get('chefName')?.invalid && orderForm.get('chefName')?.touched) || orderForm.get('chefName')?.dirty">
                                        <small *ngIf="orderForm.get('chefName')?.errors?.required"
                                            class="text-danger">
                                            chef Name 
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Description</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="description" placeholder="Enter description">
                                    <div
                                        *ngIf="(orderForm.get('description')?.invalid && orderForm.get('description')?.touched) || orderForm.get('description')?.dirty">
                                        <small *ngIf="orderForm.get('description')?.errors?.required"
                                            class="text-danger">description
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">delivery Address</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="deliveryAddress" placeholder="Enter delivery address">
                                    <div
                                        *ngIf="(orderForm.get('deliveryAddress')?.invalid && orderForm.get('deliveryAddress')?.touched) || orderForm.get('deliveryAddress')?.dirty">
                                        <small *ngIf="orderForm.get('deliveryAddress')?.errors?.required"
                                            class="text-danger">deliveryAddress
                                            is required</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputAddress">Delivery Option</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        formControlName="deliveryOption" placeholder="Enter delivery option">
                                    <div
                                        *ngIf="(orderForm.get('deliveryOption')?.invalid && orderForm.get('deliveryOption')?.touched) || orderForm.get('deliveryOption')?.dirty">
                                        <small *ngIf="orderForm.get('deliveryOption')?.errors?.required"
                                            class="text-danger">Delivery Option
                                            is required</small>
                                    </div>
                                </div>


                            </div>
                        </div> 

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="p-sm-3">

                                <div class="form-group">
                                    <label for="inputAddress">payment Mode</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="paymentMode"
                                        placeholder="Enter payment Mode">
                                    <div
                                        *ngIf="(orderForm.get('paymentMode')?.invalid && orderForm.get('paymentMode')?.touched) || orderForm.get('paymentMode')?.dirty">
                                        <small *ngIf="orderForm.get('paymentMode')?.errors?.required"
                                            class="text-danger">payment Mode
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Name</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="name"
                                        placeholder="Enter name">
                                    <div
                                        *ngIf="(orderForm.get('name')?.invalid && orderForm.get('name')?.touched) || orderForm.get('name')?.dirty">
                                        <small *ngIf="orderForm.get('name')?.errors?.required"
                                            class="text-danger">Name
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Price</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="price"
                                        placeholder="Enter price">
                                    <div
                                        *ngIf="(orderForm.get('price')?.invalid && orderForm.get('price')?.touched) || orderForm.get('price')?.dirty">
                                        <small *ngIf="orderForm.get('price')?.errors?.required"
                                            class="text-danger">Price
                                            is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Quantity</label>
                                    <input type="text" class="form-control" id="inputAddress" formControlName="quantity"
                                        placeholder="Enter quantity">
                                    <div
                                        *ngIf="(orderForm.get('quantity')?.invalid && orderForm.get('quantity')?.touched) || orderForm.get('quantity')?.dirty">
                                        <small *ngIf="orderForm.get('quantity')?.errors?.required"
                                            class="text-danger">quantity
                                            is required</small>
                                    </div>
                                </div>

                            </div>

                        </div> 
                    </div>
                   


                    <div class="text-center">
                        <button type="submit" class="btn btn-success" [disabled]="orderForm.invalid" (click)="saveOrder(orderForm.value)">Add
                            Order</button>
                    </div>
                </form> 

               
            </div>
        </div>
    </div>
</div>
