<app-header></app-header>
    
<app-sidebar></app-sidebar>

<div class="row">
<div class="col-lg-3 col-md-3 "></div>
<div class="mt-5 col-lg-9 col-md-9 ">
    
                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        <form action="#">
                            <h1 class="text-center">Add-User Form</h1>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="p-sm-3">
                                        <div class="form-group mb-3">
                                            <label for="fullname">Full Name</label>
                                            <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="emailaddress2">Email address</label>
                                            <input class="form-control" type="email" id="emailaddress2" required placeholder="Enter your email">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="password2">Password</label>
                                            <input class="form-control" type="password" required id="password2" placeholder="Enter your password">
                                        </div>

                                        <div class="custom-control custom-checkbox pt-1">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                            <label class="custom-control-label" for="checkbox-signup">I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a></label>
                                        </div>
                                        
                                      
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="p-sm-3">
                        
                                        <div class="form-group mb-3">
                                            <label for="fullname">Full Name</label>
                                            <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="emailaddress2">Email address</label>
                                            <input class="form-control" type="email" id="emailaddress2" required placeholder="Enter your email">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="password2">Password</label>
                                            <input class="form-control" type="password" required id="password2" placeholder="Enter your password">
                                        </div>
                                        <div class="form-group form-inline mb-0">
                                            
                                            <button class="btn btn-success btn-sm float-sm-right text-center" type="submit"> Add User </button>

                                        </div>
                                   
                                </div>
                                
                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->

                    </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            
    <!-- end container -->
</div>
</div>