<app-header></app-header>

<app-sidebar></app-sidebar>
<!-- preloader -->
<div *ngIf="isLoading">
    <div class="corporex-preloader">
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div><!-- .spinner-wrapper -->
    </div> <!-- .corporex-preloader -->
</div>


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li> -->
                                <li class="breadcrumb-item active">Notification-List</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Notification-List</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <!-- end row-->


            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">

                            <h4 class="header-title">Notification-List</h4>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="fullname">Search</label>&nbsp;
                                    <input class="form-control" type="search" placeholder="Search.."
                                        [(ngModel)]="searchTerm">
                                    <!-- <span><i class="fa fa-search"></i></span> -->

                                </div>

                                <div class="form-group d-block ml-auto">
                                    <button (click)="ExportTOExcel()"
                                        class="btn btn-success">ExportTOExcel</button>&nbsp;

                                    <button type="button" class="btn btn-success waves-effect waves-light "
                                        data-toggle="modal" data-target="#createField">+Create-Notification</button>
                                </div>
                                <!-- <div class="form-group d-block ml-auto">
                                    <button type="button" class="btn btn-success waves-effect waves-light "
                                        data-toggle="modal" data-target="#con-close-modal">+Add User</button>
                                </div> -->
                            </div>


                            <br>
                            <table id="datatable-buttons" #TABLE #table
                                class="table table-striped dt-responsive nowrap">
                                <thead>
                                    <tr>

                                        <th>Notification ID</th>
                                        <th>Message Title</th>
                                        <th>Message</th>
                                        <!-- <th>Status</th> -->
                                        <th>Date</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr *ngFor="let notification of notifications | paginate: config | filter:searchTerm; let i=index">
                                        <td>{{notification.id}}</td>
                                        <td>{{notification.messageTitle}}</td>
                                        <td>{{notification.message}}</td>
                                        <td>{{notification.updateDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex ml-auto">
                                <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->





        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2015 - 2018 &copy; UBold theme by <a href="">Coderthemes</a>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<!-- delete Modal HTML -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body p-4">
                <p>This is a custom field that you are going to delete. Be sure this is what you want to do. Once you
                    delete this custom field, this data will be gone forever. We CANNOT RESTORE this data.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes, delete
                    it!</button>
            </div>
        </div>
    </div>
</div>

<!-- /.modal -->


<!--Create field Modal -->


<div class="modal fade" id="createField" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Field</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" [formGroup]="notificationForm">
                <div class="modal-body">
                    <div class="offerBox">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" formControlName="messageTitle" placeholder="Title">
                            <div
                                *ngIf="(notificationForm.get('messageTitle')?.invalid && notificationForm.get('messageTitle')?.touched) || notificationForm.get('messageTitle')?.dirty">
                                <small *ngIf="notificationForm.get('messageTitle')?.errors?.required"
                                    class="text-danger">Title
                                    is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="message"
                                placeholder="message"></textarea>
                            <div
                                *ngIf="(notificationForm.get('message')?.invalid && notificationForm.get('message')?.touched) || notificationForm.get('message')?.dirty">
                                <small *ngIf="notificationForm.get('message')?.errors?.required"
                                    class="text-danger">message
                                    is required</small>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                        (click)="createNotification(notificationForm.value)">Create Notification</button>
                </div>
            </form>
        </div>
    </div>
</div>





<!--edit field Modal (click)="createField(createFieldForm.value)" -->